@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0f0f0f;
  --card-foreground: #ffffff;
  --popover: #0f0f0f;
  --popover-foreground: #ffffff;
  --primary: #2fe92b;
  --primary-foreground: #0f0f0f;
  --secondary: #2a2a2c;
  --secondary-foreground: #ffffff;
  --muted: #1b1b1d;
  --muted-foreground: #bbcbb2;
  --accent: #1b1b1d;
  --accent-foreground: #ffffff;
  --destructive: #ff5102;
  --destructive-foreground: #ffffff;
  --border: #26272d;
  --input: #1b1b1d;
  --ring: #2fe92b;
  --chart-1: #2fe92b;
  --chart-2: #ff9821;
  --chart-3: #f57733;
  --chart-4: #ff5102;
  --chart-5: #6b7367;
  --radius: 0.25rem;
  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #2fe92b;
  --sidebar-primary-foreground: #0f0f0f;
  --sidebar-accent: #1b1b1d;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #26272d;
  --sidebar-ring: #2fe92b;
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.08;
  --shadow-blur: 24px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0f0f0f;
  --card-foreground: #ffffff;
  --popover: #0f0f0f;
  --popover-foreground: #ffffff;
  --primary: #2fe92b;
  --primary-foreground: #0f0f0f;
  --secondary: #2a2a2c;
  --secondary-foreground: #ffffff;
  --muted: #1b1b1d;
  --muted-foreground: #bbcbb2;
  --accent: #1b1b1d;
  --accent-foreground: #ffffff;
  --destructive: #ff5102;
  --destructive-foreground: #ffffff;
  --border: #26272d;
  --input: #1b1b1d;
  --ring: #2fe92b;
  --chart-1: #2fe92b;
  --chart-2: #ff9821;
  --chart-3: #f57733;
  --chart-4: #ff5102;
  --chart-5: #6b7367;
  --radius: 0.25rem;
  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #2fe92b;
  --sidebar-primary-foreground: #0f0f0f;
  --sidebar-accent: #1b1b1d;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #26272d;
  --sidebar-ring: #2fe92b;
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.08;
  --shadow-blur: 24px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
